body{
    background-color: black;
}
html{
    font-size: 10px;
}
h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    
}
p{
    text-align: center;
    font-size: 15px;
}
.poster{
    width: 75%;
    margin-left: 12.5%;
    margin-top: 20px;
    color: gold;
    font-family: "Libre Baskerville", serif;
}

.motivation-img{
    border: 5px solid purple;
    width: 100%;
}
